<section>
  <div class="d-flex justify-content-between text-white">
    <div>
      <p>Transactions</p>
    </div>
    <div class="d-flex">
      <p>Download</p>
      <a class="text-decoration-none
      text-white ms-3"
      >View all</a>
    </div>
  </div>
  <div class="trans_tables">
    <div class="d-flex justify-content-between">
      <p>Transaction ID</p>
      <span>
        <b>894sfwa8</b>
      </span>
    </div>
    <div class="d-flex justify-content-between status_box">
      <p>Status</p>
      <div>
        <span class="d-flex
        align-content-around
        status">
          <b>Failed</b>
        </span>
      </div>
    </div>
  </div>
  <div class="mt-2 trans_tables">
    <div class="d-flex justify-content-between">
      <p>Sender</p>
      <span>
        <b>ejben55@gmail.com</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Method</p>
      <span>
        <b>Mobile Money CMR</b>
      </span>
    </div>

<!--  START: THE FOLLOWING WILL ONLY DISPLAY IF IT IS AVAILABLE  -->
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Number</p>
      <span>
        <b>+237 684 234 259</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Name on Card</p>
      <span>
        <b>James Bond</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Card Number</p>
      <span>
        <b>2348 2369 1486 5324</b>
      </span>
    </div>
<!--    END!!! -->

    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Amount Sent</p>
      <span>
        <b>XAF 5000</b>
      </span>
    </div>
  </div>
  <div class="mt-2 trans_tables">
    <div class="d-flex justify-content-between">
      <p>Receiver</p>
      <span>
        <b>ejben55@gmail.com</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Method</p>
      <span>
        <b>Mobile Money CMR</b>
      </span>
    </div>

<!--  START: THE FOLLOWING WILL ONLY DISPLAY IF IT IS AVAILABLE  -->
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Number</p>
      <span>
        <b>+237 684 234 259</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Bank Name</p>
      <span>
        <b>SGBC Cameroon</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Account Name</p>
      <span>
        <b>James Bond</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Account Number</p>
      <span>
        <b>2348 2369 1486 5324</b>
      </span>
    </div>
    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Sort Code</p>
      <span>
        <b>2348 2369 1486 5324</b>
      </span>
    </div>
<!--    END!!! -->

    <hr>
    <div class="d-flex justify-content-between mt-3">
      <p>Amount received</p>
      <span>
        <b>€ 7.41</b>
      </span>
    </div>
  </div>
</section>
