<section>
  <div>
    <p class="page_header">FAQ</p>
    <p class="sub_header">Subheading here like ‘Quick answers’</p>
    <div class="faq_card">
      <div class="accordion accord_style" id="accordionExample">
        <div class="accordion-item faq_container">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button text_header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  aria-controls="collapseOne">
              What do you do?
            </button>
          </h2>

        </div>
        <div id="collapseOne" class="accordion-collapse collapse show faq_content" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="text_body">Before time began there was, the cube. We know not where ti comes from. Only that it holds the power to create worlds and fill them with life.</p>
          </div>
        </div>
      </div>
      <div class="accordion accord_style" id="accordionExample2">
        <div class="accordion-item faq_container">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button text_header" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              What do you do?
            </button>
          </h2>

        </div>
        <div id="collapseTwo" class="accordion-collapse collapse show faq_content" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="text_header">What do you do?</p>
            <p class="text_body">Before time began there was, the cube. We know not where ti comes from. Only that it holds the power to create worlds and fill them with life.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
