*{
  font-family: Inter;
}

.landing-page {
  padding: 2% 4%;
}

.page_header {
  padding: 4% 0%;
  font-size: 38px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.sender {
  padding: 3% 2%;
  background-color: white;
  /*width: 570px;*/
  height: auto;
  top: 244px;
  border-radius: 10px;
}

.butt_div {
  padding: 2% 0% 0% 51%;
}

.send_button {
  background-color: #5268FF;
  padding: 2% 46%;
  border-radius: 10px;
}

.dashboard {
  padding-left: 2%;
}

.slider {
  padding: 60% 0% 0% 0%;
}
.menu-button {
  padding: 60% 0% 0% 90%;
}
