*{
  font-family: Inter;
  font-size: 13px;
}

.landing-page {
  padding: 2% 4%;
}

.page_header {
  padding: 4% 0%;
  font-size: 34px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
}

.sender {
  padding: 3% 2%;
  background-color: white;
  /*width: 570px;*/
  height: auto;
  font-family: Roboto;
  top: 244px;
  border-radius: 10px;
}
input, select {
  height: 100%;
  width: auto;
  font-family: Roboto;
}
input:focus::-webkit-input-placeholder{
  color: #202020;
  font-size: 10px;
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  visibility: visible !important;
  opacity: 1;
  padding:3px;
}
input::placeholder {
  opacity: 1;
  transition: opacity 0.2s ease;
}
input:placeholder-shown::placeholder {
  opacity: 2;
}

.floating-input-container {
  position: relative;
  display: grid;
  gap: 20%;
}

.floating-input {
  width: 100%;
  padding: 10px 0px 9px 12px;
  font-size: 12px;
}
.floating-input-amount {
  font-family: Roboto;
  width: 100%;
  padding: 40px 8px 0px 12px;
  text-align: right;
  font-size: 18px;
}

.floating-label {
  position: absolute;
  font-size: 11px;
  padding: 10px 0px 10px 10px;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.floating-input:focus + .floating-label,
.floating-input:not(:placeholder-shown) + .floating-label {
  transform: translateY(-10px) scale(0.75);
  padding: 10px 0px 0px 0px;
  color: #333;
}

select {
  width: 100%;
}

.discount {
  width: 368px;
  height: 60px;
  /*top: 508px;*/
  /*left: 22px;*/
  padding: 18px 20px 18px 20px;
  border-radius: 20px;
  gap: 10px;
  background-color: #E5E9FF;
  /*display: grid;*/
  /*grid-column: 2;*/
}
.discount_text {
  font-size: 10px;
}
.discount_apply {
  font-size: 8px;
}

.apply {
  background-color: #FFFFFF;
  width: 160px;
  height: 30px;
  padding: 8px 10px 8px 10px;
  border-radius: 10px;
  border: 1px;
  gap: 5px;
}

.sending_amount {
  width: auto;
  height: 75px;
  background-color: #F2F2F2;
}

.butt_div {
  padding: 2% 0% 0% 51%;
}
/*.but_div {*/
/*  padding: 2% 0% 0% 51%;*/
/*}*/

terms_conditions {
  color: #6A6D70;
  font-family: Roboto;
  /*font-size: 14%;*/
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.send_button {
  background-color: #5268FF;
  padding: 2% 46%;
  border-radius: 10px;
}

/*.send_butt {*/
/*  background-color: #5268FF;*/
/*  padding: 2% 46%;*/
/*  border-radius: 10px;*/
/*}*/

.dashboard {
  display: grid;
  padding-top: -10%;
  padding-left: 2%;
}

.slider {
  padding-top: 14rem;
  padding-left: 4rem;
  transition: 0.2s ease-out;
}
.menu-button {
  padding: 50% 0% 0% 90%;
  transition: 0.2s ease-out;
}

.grid {
  display: grid;
  gap: 10px;
}

.grid-col-1-2 {
  grid-column: 1/2;
}
.grid-col-2 {
  grid-column: 2;
}
.grid-row-1 {
  grid-row: 1;
}
.grid-row-2{
  grid-row: 2;
}

.grid-row-3 {
  grid-row: 3;
}

.amount {
  grid-column: 2;
  grid-row: 2/4;
}

.amount--card {
  grid-column: 1/3;
}

/* .modal-dialog-aside{*/
/*  position: center;*/
/*  width: 50px; max-width:20%; height: 500rem; margin:0; transform: translate(0); transition: transform .2s;*/
/*}*/
/*.modal .modal-dialog-aside .modal-content{  height: inherit; border:0; border-radius: 0;}*/
/*.modal .modal-dialog-aside .modal-content .modal-body{ overflow-y: auto }*/
/*.modal.fixed-left .modal-dialog-aside{ margin-left:auto;  transform: translateX(100%); }*/
/*.modal.fixed-right .modal-dialog-aside{ margin-right:auto; transform: translateX(-100%); }*/
/*.modal.show .modal-dialog-aside{ transform: translateX(0);  }*/

.confirm {
  font-family: Roboto;
  padding: 7%;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}
.floating-input-verify {
  position: relative;
  display: grid;
  gap: 20%;
}
.floating-input-verify-code {
  width: 100%;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
.floating-label-verify {
  position: absolute;
  text-align: center;
  padding: 15px 0px 0px 55px;
  pointer-events: none;
}
.verify_message {
  font-family: Roboto;
  text-align: center;
  padding: 10% 5%;
  font-size: 15px;
  line-height: 20px;
}
.verify_butt {
  width: 100%;
  font-family: Roboto;
  height: 46px;
  font-size: 18px;
  padding: 10px 50px 15px 50px;
  border-radius: 10px;
  gap: 10px;
}
.resend_code {
  font-family: Roboto;
  font-size: 18px;
  padding-top: 7%;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
}

/*.floating-input-verify-code:focus::-webkit-input-placeholder{*/
/*  color: #202020;*/
/*  !*font-size: 50px;*!*/
/*  font-weight: 400;*/
/*  !*-webkit-transform: translateY(-15px);*!*/
/*  !*transform: translateY(-15px);*!*/
/*  !*visibility: visible !important;*!*/
/*  opacity: 1;*/
/*  padding:3px;*/
/*}*/

/*.floating-input-verify-code{*/
/*  height: 45px;*/
/*  font-size: 14px;*/
/*  text-align: center;*/
/*  !*border: 1px solid #1b1a1a;*!*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*}*/

/*.floating-input:focus + .floating-label,*/
/*.floating-input:not(:placeholder-shown) + .floating-label {*/
/*  transform: translateY(-10px) scale(0.75);*/
/*  padding: 10px 0px 0px 0px;*/
/*  color: #333;*/
/*}*/
