<div class="landing-page">
  <div class="d-flex">
    <div class="col-8">
      <h3 class="text-white page_header">Fast, Secured Cross-border Transactions</h3>
      <div class="d-flex gap-3">
        <div class="sender">
          <p>Sender</p>
          <form action="">
            <div class="d-flex justify-content-between">
              <input type="text" class="form-control" placeholder="Your email (Optional)">
              <input type="text" class="form-control ms-2" placeholder="Your email (Optional)">
            </div>
          </form>
        </div>
        <div class=" sender">
          <p>Sender</p>
          <form action="">
            <div class="d-flex justify-content-between">
              <input type="text" class="form-control" placeholder="Your email (Optional)">
              <input type="text" class="form-control ms-2" placeholder="Your email (Optional)">
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-4 dashboard">
      <app-transactions></app-transactions>
    </div>
  </div>
</div>
