<div class="landing-page">
  <div class="d-flex justify-content-between">
    <div class="col-8">
      <h3 class="text-white page_header">Fast, Secured Cross-border Transactions</h3>
      <div class="d-flex gap-3">
        <div class="sender">
          <p>Sender</p>
          <form action="">
            <div class="d-flex justify-content-between">
              <input type="text" class="form-control" placeholder="Your email (Optional)">
              <input type="text" class="form-control ms-2" placeholder="Your email (Optional)">
            </div>
          </form>
        </div>
          <div class=" sender">
            <p>Sender</p>
            <form action="">
              <div class="d-flex justify-content-between">
                <input type="text" class="form-control" placeholder="Your email (Optional)">
                <input type="text" class="form-control ms-2" placeholder="Your email (Optional)">
              </div>
            </form>
          </div>
      </div>
      <div class="butt_div">
        <button class="btn btn text-white send_button">Send</button>
      </div>
    </div>
    <div class="col-4 dashboard">
      <div class="d-flex">
        <div *ngIf="menuIsClicked" class="slider">
          <button class="bi-chevron-compact-right btn btn-dark" (click)="onClickMenu()"></button>
        </div>
        <router-outlet *ngIf="menuIsClicked"></router-outlet>
        <div *ngIf="!menuIsClicked" class="menu-button">
          <button class="bi-menu-up btn btn-dark" (click)="onClickMenu()"></button>
        </div>
      </div>
<!--      <app-view-all-transactions></app-view-all-transactions>-->
<!--      <app-transactions></app-transactions>-->
    </div>
  </div>
</div>
