<section>
  <div>
    <p class="blog">BLOG</p>
    <h3 class="header">Subheading here for your blog</h3>
    <div class="scrollable-section">
      <div class="d-grid">
        <div>
          <img class="image" src="assets/images/banana.png" alt="">
        </div>
        <div >
          <p class="card_text"
             [ngClass]="{ 'truncated-text': isTruncated,
           'full-text': !isTruncated }">
            Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
            Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
          </p>
          <span class="more_less_to_view" (click)="toggleText()">
          {{ isTruncated ? 'MORE' : 'LESS' }}
        </span>
        </div>
      </div>
      <div class="d-grid">
        <div>
          <img class="image" src="assets/images/banana.png" alt="">
        </div>
        <div >
          <p class="card_text"
             [ngClass]="{ 'truncated-text': isTruncated,
           'full-text': !isTruncated }">
            Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
            Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
          </p>
          <span class="more_less_to_view" (click)="toggleText()">
          {{ isTruncated ? 'MORE' : 'LESS' }}
        </span>
        </div>
      </div>
      <div class="d-grid">
      <div>
        <img class="image" src="assets/images/banana.png" alt="">
      </div>
      <div >
        <p class="card_text"
           [ngClass]="{ 'truncated-text': isTruncated,
           'full-text': !isTruncated }">
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
        </p>
        <span class="more_less_to_view" (click)="toggleText()">
          {{ isTruncated ? 'MORE' : 'LESS' }}
        </span>
      </div>
    </div>
      <div class="d-grid">
      <div>
        <img class="image" src="assets/images/banana.png" alt="">
      </div>
      <div >
        <p class="card_text"
           [ngClass]="{ 'truncated-text': isTruncated,
           'full-text': !isTruncated }">
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
        </p>
        <span class="more_less_to_view" (click)="toggleText()">
          {{ isTruncated ? 'MORE' : 'LESS' }}
        </span>
      </div>
    </div>
      <div class="d-grid">
      <div>
        <img class="image" src="assets/images/banana.png" alt="">
      </div>
      <div >
        <p class="card_text"
           [ngClass]="{ 'truncated-text': isTruncated,
           'full-text': !isTruncated }">
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
          Which clubs and leagues have rejected Real Madrid and Barcelona’s Europenean Superleage?
        </p>
        <span (click)="toggleText()">
          {{ isTruncated ? 'MORE' : 'LESS' }}
        </span>
      </div>
    </div>
    </div>
  </div>
</section>
