<section>
  <div class="d-flex justify-content-between text-white">
    <div>
      <a [routerLink]="''"
         class="text-decoration-none
      text-white">
        Transactions</a>
    </div>
    <div class="d-flex">
      <p>Download <span class="ms-2 bi-download"></span></p>
    </div>
  </div>
  <div class="mt-2 trans_tables">
    <div class="d-flex justify-content-between">
      <p><b>milesfenzou@gmail.com</b></p>
      <p>
        16:14
        <span class="bi-three-dots"></span>
      </p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p><b>milesfenzou@gmail.com</b></p>
      <p>
        13/12/2023
        <span class="bi-arrow-down-left"></span>
      </p>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <p><b>milesfenzou@gmail.com</b></p>
      <p>
        Yesterday
        <span class="bi-arrow-up-right"></span>
      </p>
    </div>
  </div>
</section>
